body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #89c0bd;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #333;
}

.player {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#play-pause-btn {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}

#volume-slider {
    width: 200px;
}

.now-playing {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #666;
}